* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

p {
  isolation: isolate;
}

a {
  display: inline-block;
  position: relative;
  color: var(--text);
  text-decoration: none;
  padding: 0 0.4rem;
  isolation: isolate;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--dark);
    mix-blend-mode: difference;
    transform: scaleY(0.05);
    transform-origin: 0 95%;
    transition: transform 0.2s;
    border-radius: 4px;
  }

  &:focus {
    outline: none;
  }
  &:focus,
  &:hover {
    &::after {
      transform: none;
    }
  }
}

.button {
  border: 0;
  border-radius: 21% 79% 21% 79% / 69% 23% 77% 31%;
  padding: 1rem;
  outline: thin;
  background: transparent;
  backdrop-filter: blur(6px);
  box-shadow: 8px 8px 6px var(--dark), -8px -8px 6px var(--default),
    inset 8px 8px 6px var(--dark), inset -8px -8px 6px var(--default);
  color: var(--text);
  cursor: pointer;
  pointer-events: all;
  transition: all 0.2s ease;
}

.button:hover {
  box-shadow: 6px 6px 15px var(--dark), -6px -6px 15px var(--default),
    inset 6px 6px 6px var(--dark), inset -6px -6px 6px var(--default);
}

.button:active {
  box-shadow: 3px 3px 10px var(--dark), -3px -3px 10px var(--default),
    inset 3px 3px 10px var(--dark), inset -3px -3px 10px var(--default);
}
