@keyframes morph-a {
  33% {
    border-radius: 21% 79% 21% 79% / 69% 23% 77% 31%;
  }
  66% {
    border-radius: 61% 39% 21% 79% / 69% 61% 39% 31%;
  }
  100% {
    border-radius: 77% 23% 33% 67% / 43% 63% 37% 57%;
  }
}

@keyframes morph-b {
  33% {
    border-radius: 17% 83% 22% 78% / 30% 30% 70% 70%;
  }
  66% {
    border-radius: 48% 52% 22% 78% / 46% 23% 77% 54%;
  }
  100% {
    border-radius: 26% 74% 22% 78% / 46% 23% 77% 54%;
  }
}
